# .gitignore for danfoy2019
#
# 
# Don't include output
# (to avoid annoying diff messages)
dist/
#
# Don't include site content (custom wp-content dir)
# (large files, possible sensitive information)
content/
#
# Submodules
chassis/
node_modules/
#
# Files which might contain sensitive information
chassis-backup.sql
credentials.md
#
# Reference material
reference/
#
# OS files
.DS_Store
#
# Misc created by dev environments
.phpintel
*.sublime*
