/**
 * Comments Stylesheet
 *
 * A lot of the comments markup is generated automatically by WordPress, making
 * it awkward to namespace. There is some heavy nesting here to migigate this.
 *
 * @package     danfoy_2019
 * @subpackage  comments
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */


// Wrapper
.responses { // <aside>
    margin-top: $line * 2;          // Breathing space from .post-meta
    border-bottom: 1px solid $grey100;  // Prevent collapsing margin
    font-family: $sans-serif;
    background-color: $grey100;
    color: $grey700;
    padding-top: 0.1px;             // Prevent margin collapse
}


// Serif fonts for content
.comment-content { // <div>
    font-family: $serif;            // Match post style
    line-height: $line;             // Match paragraph style
}

.responses-comments-list,           // <ol>
.responses-pings-list {             // <ol>
    margin: 0;                      // Override native list margin
    list-style-type: none;          // Override native list style

    // Line up text with .post-content at $medium-s breakpoint
    @media (min-width: ($medium-s + ($line * 2))) {
        max-width: ($medium-s + $line);
        margin-left: auto;
        margin-right: auto;
    }
}

.comment { // <li>
    margin: ($line/2);              // Half line between items
    padding: ($line/2) 0;           // Half line inside item top/bottom
    list-style-type: none;          // Override useragent styles
    overflow: hidden;               // Prevent commenters breaking the scaffolding
    background-color: $grey200;
    border: 1px solid $grey400;

    // Line up text with .post-content at $medium-s breakpoint
    @media (min-width: ($medium-s + ($line * 2))) {
        margin: $line auto;
    }

    &.parent {
        padding-bottom: 0;          // So child item borders sit flush on bottom

        .reply {
            padding: 0 0 ($line/2) 0;
        }
    }


    .reply {
        padding-top: $line/2;
        text-align: right;      // Reply link looks more balanced opposite gravatar
        font-size: $text-s;     // Smaller text

        a {
            text-decoration: none;
        }

        small:after {
            content: "\2193";       // A down arrow
            padding-left: $text-s;  // Mimic a space
            font-weight: 700;
        }
    }

    a {
        color: $grey900;
    }

    .comment-body {
        margin: 0 ($line/2);        // Gutters for content

        p:last-of-type {
            margin-bottom: $line/4; // Tighten up between last para and reply
        }
    }

    .comment {
        margin: 0 0 ($line/2) ($line/4);    // Nesting indentation
        padding: ($line/4) 0 0 0;           // Nesting indentation
        border: none;                       // Reset borders from parent
        border-left: 4px solid $grey400;    // Indentation border

        &:last-of-type {
            margin-bottom: 0;               // Sit flush with parent box
        }

        // Bulk out space between columns after $medium-s breakpoint
        @media (min-width: $medium-s) {
            margin: 0 0 $line ($line / 2);
        }
    }
}


/**
 * Pingbacks
 *
 * Pingbacks are separated from comments.
 *
 */
.responses-pings-list { // <ol>
    text-transform: uppercase;      // Differentiate from link
    font-size: $text-s;             // Differentiate from link
    margin-top: $line;              // Whitespace
    margin-bottom: $line;           // Whitespace

    .pingback { // <li>
        position: relative;
        margin: $line;
    }

    a {
        color: $grey900;
        text-transform: initial;    // Override uppercase transform above

        &:hover {
            text-decoration: none;
        }
    }

    .url { // <a>
        font-size: $text;           // Override font size above
        font-style: italic;         // Differentiate from other links
        display: block;             // Newline separate from label
        line-height: $text;         // Tighter spacing on wrapping links
    }

    .edit-link { // <span>
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
