/**
 * Comments Meta Stylesheet
 *
 * Styles for the headings and author meta sections of the comments module.
 *
 * The author meta sections include the comments list above the comment content,
 * and in the respond form above the comment textarea.
 *
 * A lot of the comments markup is generated automatically by WordPress, making
 * it awkward to namespace. There is some heavy nesting here to migigate this.
 *
 * @package     danfoy_2019
 * @subpackage  comments
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */


/**
 * Titles
 *
 * The titles for this section are generally for accessibility. However, I might
 * at some point stick them back in based on some media condition, so I've
 * set styles for them anyway.
 */
.responses-title,
.responses-comments-title,
.responses-pings-title,
.respond-form-title {

    @include hide-visually;

    margin: 0 $line;
    padding: $line 0;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}


/**
 * Comment meta
 */
.comment-meta {
    position: relative;             // Clear absolutely positioned .avatar
    min-height: ($text * 3);        // "
    padding-left: ($text * 3) + ($line / 2);
    display: flex;
    flex-direction: column;         // Stack items vertically
    justify-content: center;

    // Nested comment avatars are smaller
    @at-root .children .comment-meta {
        min-height: ($text * 2);
        padding-left: ($text * 2) + ($line / 2);
    }

    // Clear enlarged .avatar when space allows
    @media (min-width: $small-l) {
        min-height: ($text * 4);
        padding-left: ($text * 4) + ($line / 2);

        @at-root .children .comment-meta {
            min-height: ($text * 3);
            padding-left: ($text * 3) + ($line / 2);
        }
    }

    // Add back margins usually provided by .comment
    @at-root #respond .comment-meta {
        margin: ($line / 2);
    }

    a:hover {
        text-decoration: none;

        &::after {
            content: "\2192";
            padding-left: ($text-s / 2);
        }
    }

    .comment-author {

        .avatar { // <img>
            width: ($text * 3) !important;      // !Set inline by WP
            height: ($text * 3) !important;     // !Set inline by WP
            position: absolute;                 // Due to WP-generated code
            top: 0;
            left: 0;
            border: 1px solid $grey400;         // Stop backgrounds leaking
            border-radius: $text * 2;           // Circularize the gravatar

            // Snmaller avatars for child comments
            @at-root .children .comment-author .avatar {
                width: ($text * 2) !important;
                height: ($text * 2) !important;
            }

            // Enlarge avatars when space allows
            @media (min-width: $small-l) {
                width: ($text * 4) !important;  // Larger on big mobiles
                height: ($text * 4) !important; // Larger on big mobiles

                @at-root .children .comment-author .avatar {
                width: ($text * 3) !important;
                height: ($text * 3) !important;
                }
            }
        }

        .fn { // <b> Comment author name. Seriously who named this.
            display: block;
        }

        .says { // <span>
            display: none;          // Remove 'says' text added by WordPress
        }
    }

    .comment-metadata {
        font-size: $text-s;            // Metadata should be smaller than content

        a {
            color: $grey500;
            text-decoration: none;

            &:hover::after {
                content: "\0023";
            }
        }

        .edit-link {
            padding-left: $text-s;     // Space out the edit link from the date

            &:before {
                content: "/";           // Separator from meta
                padding-right: $text-s; // Center
            }
        }
    }
}
