/**
 * Site Header Styles
 *
 * @package df19
 * @author danfoy <danfoy.com>
 * @since 1.0.0
 */

.site-header {
    padding: gutter(0.5);

    a {
        text-decoration: none;
    }

    &-title,
    &-nav,
    &-menu {
        display: inline-block; // Make links inline-block for buttonyness
    }

    &-title a,
    &-menu a {
        display: inline-block;
        padding: gutter(0.5);
    }

    &-title {
        &-heading {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;      // Override <h1> style
        }
    }

    &-nav {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    &-menu {
        ul,
        li {
            list-style-type: none;
            padding: 0;         // Remove list item padding
            margin: 0;  // Remove huge gap between header and content h2
            display: inline-block;
        }
    }
}
