/**
 * Global image settings
 *
 * @package     danfoy_2019
 * @subpackage  global
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */

/** Default WordPress/Gutenberg Styles Override
 *
 * WordPress adds inline styles, and Gutenberg has its own injected stylesheet
 * with sensible-but-not-quite-right defaults. Override here.
 */
.wp-block-image {
                  margin-bottom: 0;
    .alignleft  { margin-right:  0; }
    .alignright { margin-left:   0; }
}

/**
 * Responsive Images
 */
img {
    width: auto !important;     // Remove inline width
    height: auto !important;    // Remove inlight height
    max-width: 100%;            // No wider than the parent element
    max-height: 100vh;          // No taller than the viewport
}
figure {
    width: auto !important;     // Figures also have inline width attributes
    margin: 0 0 $line 0;        // Override UAS plus 1 line below
    text-align: center;         // Avoid issues where children don't stretch
}

// If an image doesn't have an alignment, it is almost certainly intended to be
// displayed as block. Grids of images should use WordPress' built-in gallery
// functionality instead.
img.alignnone,
figure.alignnone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// Standard Gutenberg image block
.wp-block-image {

    font-size: 0;               // Prevent image link from creating a gap
    margin-bottom: $line;       // Line between stacked images

    figcaption {
        font-family: $sans-serif;
        font-size: $text-s;
        line-height: $text-s;
        margin: ($text-s / 2) $line 0 $line;
        color: $grey500;
    }

    // Floated images still centered on small viewports
    .alignleft,
    .alignright {
        display: block;                 // Prevent inlining
        max-width: 100%;                // Full-bleed
        float: none;                    // Not floated at smallest viewport
        margin: 0 0 $line 0;            // Full bleed, 1 line below

        // Take up 1/3 viewport width when space allows
        @media (min-width: $small-l) {
            display: inline-block;      // Remove block display from above
            max-width: 33%;             // Don't squeeze text
            margin: {                   // Declare each to override Gutenberg
                top: 0;
                right: $line;
                bottom: ($line / 2);
                left: $line;
            }

            // Take up half of text width when viewport wider than text
            @media (min-width: calc(#{$medium-s} + (#{$line} * 2))  ) {
                max-width: calc(#{$medium-s} / 2);
            }
        }
    }

    // Margin calculation to square images with text width
    $margincalc: calc(50% - (#{$medium-s} / 2));

    // Float to the left if there's space
    .alignleft {

        @media (min-width: $small-l) {
            float: left;
        }

        @media (min-width: $medium-s) {
            margin-left: $margincalc;
        }
    }

    // Float to the right if there's space
    .alignright {

        @media (min-width: $small-l) {
            float: right;
        }

        @media (min-width: $medium-s) {
            margin-right: $margincalc;
        }
    }
}


/**
 * Responsive Embeds
 */
.post-content {
    iframe {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        border: 0;              // Remove UASS iFrame border

        // Iframes in posts marked as video
        .format-video & {
            // Size window to 16:9               minus standard gutters
            height: calc( ((100vw / 16) * 9 ) - (2 * #{$line}) );
        }
    }
}
