/**
 * Global structure settings
 *
 * @package     danfoy_2019
 * @subpackage  global
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */

/**
 * Size variables
 *
 * Some sizes based on my sizing scale which are useful for images, breakpoints
 * etc.
 */
$small-s:    128px;
$small:      256px;
$small-l:    384px;
$medium-s:   512px;
$medium:     768px;
$medium-l:  1024px;
$large-s:   1280px;
$large:     1536px;
$hd:        1920px;
$uhd:       2560px;

$text-s:      12px;
$text:        16px;
$line:        24px;

/**
 * Force $text root size
 *
 * Modern browsers set the default text size to 16px. Setting it here manually
 * to deal with older browsers and edge cases.
 */
html {
    font-size: $text;
}


/**
 * Clearfix Mixin
 *
 * I don't use clearfix much, but when it's absolutely necessary I still don't
 * want to pollute my classes with .clearfix. So, use this mixin instead.
 */
@mixin clearfix() {
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}

/**
 * Hide-Visually Mixin
 *
 * Using `display: none;` on elements hides them from screenreaders and other
 * accessibility tools. Using this technique means they are invisible and
 * removed from the document flow, but are still accessible.
 *
 * https://webaim.org/techniques/css/invisiblecontent/#techniques
 *
 */
@mixin hide-visually() {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/**
 * WordPress WYSIWYG Editor alignment styles
 *
 * On small screens everything is full-bleed. Alignment is added as the
 * viewport width increases.
 */
@media (min-width: $medium-s) {
    .alignleft {
        float: left;
        margin: 0 #{$text-s} #{$text-s} #{$text-s};
        max-width: 50%;
    }
    .alignright {
        float: right;
        margin: 0 $line $line $line;
        max-width: 50%;
    }
    .aligncenter {
        display: block;
        margin: 0 auto $line auto;
    }
}

/**
 * Post styles
 */
.post-header {
    margin: 0 $line; // Line up padding with paragraph tags
}

.post-content {

}
