/**
 * Global Typography Stylesheet
 *
 * Set up general global styles for site.
 *
 * @package     danfoy_2019
 * @subpackage  global
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */


// Font Stacks
$serif: "Crimson Text", Georgia, Baskerville, serif;
$sans-serif: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Global styles
body {
    font-family: $sans-serif;
    font-feature-settings: "liga" 1, "dlig" 1;  // Enable ligatures
}

/**
 * Global headings
 *
 * Ideally these shouldn't ever actually get used - headings should be styled
 * directly by class, or namespaced inside .post-content. However, there are
 * bound to be edge cases (bugs) where they appear, so I might as well refine
 * the styles set by Normalize.
 *
 */
h1 {
    font-size: $text * 2;
    font-weight: 400;
}

h2 {
    font-size: $text * 1.5;
    font-weight: 300;
    padding: $line 0 ($line * 0.5) 0;
}

h3 {
    font-size: $text * 1.5;
    font-weight: 400;
    padding: $line 0 ($line * 0.5) 0;
}

h4 {
    font-size: $text;
    font-weight: 700;
}

/**
 * Lists
 *
 * User agent stylesheet padding for lists needs to be overriden practically
 * everywhere except for post-content, so zero it off here and add it back
 * only where needed.
 */
ol,
ul {
    padding-left: 0;
}

/**
 * Blockquotes
 *
 * These can appear in unexpected places (e.g. comments), so it's worth setting
 * some sensible defaults
 *
 */
blockquote {
    font-style: italic;         // differentiate from surrounding text
    margin: 0 $line;            // indent from surrounding text

    em {
        font-style: normal;     // deitalicize when surrounding text is italic
    }
}

// I use horizontal rules to break up text.
// So they're typography. Right?
hr {
    border: 0.05rem solid;
}
