/**
 * Post Meta Stylesheet
 *
 * Controls the way metadata about each post is displayed. Post meta is
 * currently generated in the Loop.
 *
 * @package     danfoy_2019
 * @subpackage  loop
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */

.post-footer {
    font-family: $sans-serif;
    font-size: $text-s;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    background-color: $grey900;

    // Remove padding and list styles from lists
    li,
    * li {
        list-style-type: none;
    }

    &-title {
        @include hide-visually();
    }
}

/**
 * Post Metadata list
 *
 * The post metadata list contains the post date, the number of and a link to
 * the responses if there are any (otherwise nothing), the post categories
 * (including parent items), and the post tags.
 */
.post-meta { // <ul>
    margin: $line;                      // Standard gutters
    line-height: $line;                 // Standard line height

    a {
        display: inline-block;          // Links displayed like buttons
        padding-right: ($text / 2);     // Space to balance with icon
        margin-bottom: ($line / 4);     // Vertical space between wrapped items
        border-radius: ($line / 8);     // Round corners of buttons slightly
        text-decoration: none;          // Remove UAS underlines
    }

    &-date,
    &-taxonomies,
    &-categories,
    &-tags {
        &-title {
            @include hide-visually();   // Screen-reader titles
        }
    }

    &-date,
    &-comments {
        display: inline-block;          // Inline these two together
    }

    // Date is the only non-link item, sp needs the inline-block adding.
    // As every other item is a link, it feels weird that the date has a text
    // cursor. Removing it makes it feel more natural to mouse over comments.
    &-date { // <li>
        margin-right: $line;
        cursor: default;                // Remove text cursor
        @include icon_calendar('#{$grey300}');
    }

    &-comments { // <li>

        a {
            color: black;               // Override default link color
            border: 1px solid $grey900; // Border matches background
            @include icon_comment('#{$grey300}');

            &:hover {
                border: 1px solid $grey500;
                background-color: white;
            }
        }
    }

    // Wrapper around categories and tags. Allows a line break between the
    // 'meta' and 'taxonomy' sections.
    &-taxonomies { // <div>
        margin-top: ($line / 2);            // Half line breathing space

        a {                                 // Button-like styling
            border: 1px solid $grey700;
            color: $grey100;
            background-color: white;

            &:hover {
                color: $grey900;
                background-color: $grey300;
                border-color: black;
            }
        }
    }

    &-categories, // <li>
    &-tags { // <li>
        display: inline; //  Float taxonomy wrapper <li>s onto one line

        li {
            display: inline-block;          // So items can wrap
        }

        // Float taxonomies onto a single line
        &-list {    // <ul>
            display: inline; //  Float tag and category lists onto one line

            li {
                margin-right: ($line / 4);  // Space between items
            }
        }
    }

    &-categories {

        a {
            @include icon_folder('#{$grey300}');

            &:hover {
                @include icon_folder('#{$grey900}');
            }
        }
    }

    &-tags {

        a {
            @include icon_tag('#{$grey300}');

            &:hover {
                @include icon_tag('#{$grey900}');
            }
        }
    }

    // Matches width and margins from default template
    @media (min-width: ($medium-s + ($line * 2))) {
        max-width: $medium-s;
        margin-left: auto;
        margin-right: auto;
    }
}
