/**
 * Post Meta Stylesheet
 *
 * Controls the way metadata about each post is displayed. Post meta is
 * currently generated in the Loop.
 *
 * @package     danfoy_2019
 * @subpackage  loop
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */

.post-meta { // <ul>
    font-family: $sans-serif;
    font-size: 12px;
    margin: 24px 24px;

    /**
     * Remove padding and list styles from lists
     */
    li,
    * li {
        list-style-type: none;
        padding-left: none;
    }

    &-date,
    &-comments {
        display: block;
    }

    &-tax {
        margin-top: 12px;
    }


    // Remove padding and block positioning from nested lists
    &-categories, // <ul>
    &-tags {      // <ul>
        padding: 0;
        display: inline; //  Float tags and categories onto one line

        li {
            display: inline-block;
        }
    }

    // Meta is inline - needs spaces between items.
    &-date,
    &-comments,
    &-categories li,
    &-tags li {
        padding-right: 12px;
    }

    /**
     * Icons for post meta
     *
     * Icons are provided by mixins which take a HTML-encoded color argument and
     * render an inline SVG to order. These are provided in
     * `/src/global/_icons.scss`
     */
    &-date          { @include icon_calendar('#{$grey300}'); }
    &-comments a    { @include icon_comment('#{$grey300}'); }
    &-categories a  { @include icon_folder('#{$grey300}'); }
    &-tags a        { @include icon_tag('#{$grey300}'); }
}
