/**
 * Post styles
 *
 * Generic styles for posts go here. This includes anything which appears inside
 * the loop, plus some extra styles for post containers.
 *
 * Some of these styles will be overriden by other modules.
 *
 * @package     danfoy_2019
 * @subpackage  loop
 * @author      Dan Foy <danfoy.com>
 * @since       1.0.0
 */

// Target just articles within archives
.blog,
.archive,
.category {

    .post {
        margin-bottom: $line * 2    // Add space between articles
    }
}


/**
 * Post Title
 *
 * This will be a <h2> on archives and a <h1> on singular pages
 *
 */
.post-title {
    font-size: ($text * 2);
    line-height: ($line * 1.5);
    font-weight: 300;           // Override header weights (could be h1/h2/a)
    text-transform: uppercase;
    text-align: center;


    a {
        text-decoration: none;  // No underline for header links
    }
}

/**
 * Post Content
 *
 * In theory, all post content should appear in here, so it can be used to
 * namespace 'global' rules for elements. WordPress isn't particularly
 * consistent with adding classes to post content, so it will be mainly
 * element selectors in here.
 *
 */
.post-content {
    font-family: $serif;        // Post content is serif for generic posts
    margin-bottom: $line;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    figcaption,
    aside,
    pre {
        margin-left: $line;
        margin-right: $line;
    }

    p,
    ul,
    ol,
    aside,
    dl {
        margin-top: $line;
        margin-bottom: $line;
        line-height: $line;     // Standard line-height on paragraphs and lists
    }

    /**
     * Lists
     *
     * Lists have a lot of User Agent Stylesheet baggage and require some extra
     * styles to keep them looking consistent
     */
    ol,
    ul {

        // Breathing room between list-style type
        li {
            margin-bottom: $line / 2;
            margin-left: $line / 2;
            padding-left: $line / 2;

            ul,
            ol,
            li {
                margin-right: 0; // Nested lists should still go to right edge
            }
        }
    }

    blockquote {

        p {
            margin: $line 0;        // Prevent double gutters
        }
    }

    hr {
        margin: 0 $line;
    }

    /**
     * Tables
     *
     * Tables get their own special rules due to the mobile-first design
     * approach. In many cases they will cause scrolling on the x axis.
     */
    table {
        padding: 0 $line;                // Line up with other block elements
        max-width: 100vw;
        overflow-x: scroll;             // Add scrollbars
        display: block;                 // Required for scrollbars
        clear: both;

        thead {
            font-weight: 700;
        }

        tbody {
            vertical-align: top;        // Body content should align to the top
        }

        ul,
        ol {
            padding: 0 ($line / 2);
            margin: 0;                  // Override styles set outside table

            li {
                padding-left: 0;
                margin-left: ($line / 2);
                margin-right: 0;
                }
            }
        }

    @media (min-width: ($medium-s + ($line * 2))) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        pre,
        blockquote,
        aside,
        table,
        hr {
            max-width: $medium-s;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .wp-caption-text {
        font-family: $sans-serif;   // Captions are always sans-serif
        font-size: $text-s;         // Captions are always smaller than body text
        line-height: $text-s;       // No line spacing for captions
        margin: {                   // line-height + margins = standard $line lines
            top: 6px;
            bottom: 6px;
        }
    }
}
